@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat);


/* Global */

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

h3{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container {
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}
/* Navigation */

nav {
  padding-top: 15px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

nav li {
  width: 150px;
  display: inline-block;
  text-align:  center;
  text-decoration: none;
  cursor: pointer;
}

/* MainPage */

#home {
  background: url('../images/rusli.jpg');
  background-size: cover;
  height: 760px;
}

/* Project Section */
.container h1{
  text-align: center;
  margin-top: 65px;
  margin-bottom: 35px;
  color: #fb9c91;
  font-size: 51px;
  letter-spacing: 6px;
}

#project h3 p small {
  margin-bottom: 20px;
}

/* About Section */
#about {
  background-color: black;
  background-size: cover;
  height: 760px;
  margin-top: 25px;
}

#about .container p {
  width: 480px;
}

#about h2{
  color: white;
  font-size: 45px;
  margin-bottom: 24px;
}

.about_me{
  color: white;
  margin-top: 85px;
}

#about p {
  border-bottom: 1px white solid;
  padding-top: 11px;
  padding: 16px 0px;
  text-align: justify;
}

 .skills-icon img{
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 100%;
  padding: 10px;
  margin-left: 27px;
  text-align: center;
}

/* Footer Section */

#contact {
  background-color: white;
  height: auto;
}

.contact_icons {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}
.contact_icons article {
  display: inline-block;
}
